*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    width: 100vw;
    background-color: rgb(65, 125, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar img{
    height: 20vh;
}

.logo{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    height: 8vh;
    width: 350px;
    border: 0px solid transparent;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
}

.options p{
    transition: 200ms ease-in;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}

.options p:hover{
    transform: scale(1.1);
    background-color: white;
    color: black;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.image img{
    transition: 200ms ease-in;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: gray;
    width: 100vw;
}